/*Dupla: João Pedro Vidal dos Santos & Joicy Mendes Rodrigues
 Disciplina: Introdução ao Desenvolvimento Web
 Professor: Paulo Ricardo Noé */

header{
    display: flex;
    justify-content: space-around;
    color: #04C9F4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    background-color: #FFFFFF;
    width: 100%;
    height: 7vh;
}

body{
    background-color: #E7E7E7;
    margin: 0;
}

div{
    height: 40vh;
    width: 50vh;
    background-color: #D9D9D9;
    text-align: center;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.136);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 170px auto;
}

img{
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto{
    height: 150px;  
    width: 20vw;
    margin-left: 5px;
    margin-bottom: 8px;
    border-style: none;
}

button{
    margin-bottom: 19px;
    color: #FFFFFF;
    background-color: #04C9F4;
    width: 150px;
    height: 60px;
    text-align: center;
    border-style: none;
}

.span-required{
    margin: 3px 0 0 1px;
    color: red;
    display: none;
}

span{
    padding-left: 21px;
}


/*Dupla: João Pedro Vidal dos Santos & Joicy Mendes Rodrigues
 Disciplina: Introdução ao Desenvolvimento Web
 Professor: Paulo Ricardo Noé */